<div *ngIf="showLoader" class="d-flex justify-content-center m-5">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="text-center m-5" *ngIf="books.length === 0 && !showLoader">
    <h1>No data available</h1>
</div>

<div *ngIf="!showLoader && books.length > 0" class="container container-fluid mt-5 mb-5 container-custom">
    <div class="btn-group dropend m-3 mb-5">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-custom btn-sort" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by:
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item item-custom" (click)="onSort('title')">Title</a></li>
            <li><a class="dropdown-item item-custom" (click)="onSort('price')">Price</a></li>
            <li><a class="dropdown-item item-custom" (click)="onSort('publishedYear')">Published Year</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let book of books; let i = index">
            <div class="card m-3 text-center">
                <div class="card-body">
                    <h4># {{pageNumber * pageSize + i + 1}}</h4>
                    <div>
                        <p><span class="fw-bold">Title:</span> {{book.title}}</p>
                    </div>
                    <div>
                        <p><span class="fw-bold">Author:</span> {{book.author}}</p>
                    </div>
                    <div>
                        <p *ngIf="!isMobileSize"><span class="fw-bold">Publisher:</span> {{book.publisher}}</p>
                    </div>
                    <div>
                        <p *ngIf="!isMobileSize"><span class="fw-bold">Description:</span> {{book.description.substring(0, 100)}}...</p>
                    </div>
                    <div>
                        <p><span class="fw-bold">Price:</span> {{book.price}} €</p>
                    </div>
                    <div>
                        <p *ngIf="!isMobileSize"><span class="fw-bold">Published Year:</span> {{book.publishedYear}}</p>
                    </div>
                    <div>
                        <p *ngIf="!isMobileSize"><span class="fw-bold">Library ID:</span> {{book.libraryID}}</p>
                    </div>
                    <div>
                        <p><span class="fw-bold">User: </span><a [routerLink]="['/users/', book.username]">{{book.username}}</a></p>
                    </div>
                    <div>
                        <button type="button" [routerLink]="['/books/', book.id]" 
                            class="btn btn-outline-warning m-2 btn-custom">
                            <i class="fa-sharp fa-solid fa-info"></i>
                        </button>
                        <button *ngIf="isUserCorrect(book) || isModerator() || isAdmin()" type="button" [routerLink]="['/books-update/', book.id]" 
                            class="btn btn-outline-primary m-2 btn-custom">
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </button>
                        <button *ngIf="isAdmin()" type="button" [routerLink]="['/books-delete/', book.id]"
                            class="btn btn-outline-danger m-2 btn-custom">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <mat-paginator #paginator
               class="demo-paginator"
               (page)="onPageChanged($event)"
               [length]="noPages * pageSize"
               [pageSize]="pageSize"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]="pageNumber"
               aria-label="Select page">
    </mat-paginator>

    <div *ngIf="!isMobileSize" class="page-selector text-end">
        <mat-form-field>
            <mat-label>page:</mat-label>
            <input matInput type="number"
            [(ngModel)]="goToPageNumber" min="0" max="{{noPages}}"
            (keyup.enter)="goToPage()"
            (ngModelChange)="checkPageNumber()">
        </mat-form-field>
    </div>

    <button type="button" class="btn btn-danger btn-green btn-floating btn-lg" id="btn-back-to-top" (click)="backToTop()">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>