<div class="form-signin text-center full-center">
    <form *ngIf="!isLoggedIn" autocomplete="off" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <div class="auth">
            <h3 class="m-3">Please sign up for a new account</h3>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username"
                    [(ngModel)]="form.username" #username required>
                <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control password" name="password" placeholder="Password"
                    [(ngModel)]="form.password" required>
                <label for="floatingInput">Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control confirm-password" name="confirmPassword" placeholder="Confirm password"
                    [(ngModel)]="form.confirmPassword" required>
                <label for="floatingInput">Confirm Password</label>
                <div *ngIf="form.password && form.confirmPassword && form.password !== form.confirmPassword" id="emailHelp" class="form-text text-start mb-3">passwords do not match.</div>
            </div>

            <div class="form-group">
                <div *ngIf="f.submitted && registeredFailed" class="alert alert-danger" role="alert">
                    <p *ngIf="errorMessage">{{errorMessage}}</p>
                    <p *ngIf="usernameErrorMessage">Error username: {{usernameErrorMessage}}</p>
                    <p *ngIf="passwordErrorMessage">Error password: {{passwordErrorMessage}}</p>
                </div>
            </div>
        </div>

        <button [disabled]="!f.form.valid || form.password !== form.confirmPassword" type="submit" class="btn btn-primary">Register</button>
        <p class="mt-3">Already a user? <a class="sign-up-link" routerLink="/login">Log in</a></p>
    </form>
</div>