<div class="container container-fluid mt-5 mb-5 container-custom">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group mt-3">
            <label>Bio</label>
            <input *ngIf="userProfile" type="text" name="bio" class="form-control" [(ngModel)]="userProfile.bio" required autocomplete="off">
        </div>
        <div class="form-group mt-3">
            <label>Location</label>
            <input *ngIf="userProfile" type="text" name="location" class="form-control" [(ngModel)]="userProfile.location" required autocomplete="off">
        </div>
        <div class="form-group mt-3">
            <label>BirthDate</label>
            <input *ngIf="userProfile" id="startDate" name="birthDate" class="form-control" type="date" [(ngModel)]="userProfile.birthDate" required
                autocomplete="off">
        </div>
        <div class="form-group mt-3">
            <label>Gender</label>
            <select *ngIf="userProfile" class="form-select" name="gender" [(ngModel)]="userProfile.gender" aria-label="Default select example" required>
                <option value="male" name="male">male</option>
                <option value="female" name="female">female</option>
            </select>
        </div>
        <div class="form-group mt-3 mb-3">
            <label>Marital status</label>
            <select *ngIf="userProfile" class="form-select" name="maritalStatus" [(ngModel)]="userProfile.maritalStatus" aria-label="Default select example" required>
                <option value="single" name="single">single</option>
                <option value="married" name="married">married</option>
                <option value="divorced" name="divorced">divorced</option>
                <option value="widowed" name="widowed">widowed</option>
                <option value="separated" name="separated">separated</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary" [disabled]="!userForm.form.valid"><i
                    class="fa-solid fa-check"></i></button>
        </div>
    </form>
</div>