.card-custom {
    max-width: 80%;
    margin: 2rem auto !important;
    font-size: 0.8rem;
}

.btn-custom {
    font-size: 0.8rem;
}

.btn-custom:hover {
    color: white;
}

.bg-custom-active {
    background-color: #36c66b;
}

.bg-custom-expired {
    background-color: #dc3545;
}