<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=RAZVAN_PC\SQLEXPRESS;Initial Catalog=StreamingMovies;Integrated Security = True"/>
	</connectionStrings>
	
	<!--<appSettings>
		<add key="ParentTableName" value="Writers"/>
		<add key="ChildTableName" value ="Movies"/>
		<add key="ParentSelectQuery" value="select * from Writers"/>
		<add key="ChildSelectQuery" value="select * from Movies where WriterID=@parentKey"/>
		<add key="ChildInsertQuery" value="insert into Movies(WriterID, MovieTitle, MovieReleaseDate, MovieRating) values (@parentKey, @column1, @column2, @column3)"/>
		<add key="ChildUpdateQuery" value="update Movies set MovieTitle=@column1, MovieReleaseDate=@column2, MovieRating=@column3 where MovieID=@childKey"/>
		<add key="ChildDeleteQuery" value="delete from Movies where MovieID=@childKey"/>
		<add key="ParentKeyName" value="WriterID"/>
		<add key="ChildKeyName" value="MovieID"/>
		<add key="ChildColumnNames" value="MovieTitle,MovieReleaseDate,MovieRating"/>
		<add key="ChildColumnTypes" value="0,1,0"/>
		<add key="ChildNumberOfColumns" value="3"/>
	</appSettings>-->

	<appSettings>
		<add key="ParentTableName" value="Users"/>
		<add key="ChildTableName" value ="Reviews"/>
		<add key="ParentSelectQuery" value="select * from Users"/>
		<add key="ChildSelectQuery" value="select * from Reviews where UserID=@parentKey"/>
		<add key="ChildInsertQuery" value="insert into Reviews(UserID, ReviewText) values (@parentKey, @column1)"/>
		<add key="ChildUpdateQuery" value="update Reviews set ReviewText=@column1 where ReviewID=@childKey"/>
		<add key="ChildDeleteQuery" value="delete from Reviews where ReviewID=@childKey"/>
		<add key="ParentKeyName" value="UserID"/>
		<add key="ChildKeyName" value="ReviewID"/>
		<add key="ChildColumnNames" value="ReviewText"/>
		<add key="ChildColumnTypes" value="0"/>
		<add key="ChildNumberOfColumns" value="1"/>
	</appSettings>


</configuration>