.btn-custom, .item-custom {
    font-size: 0.8rem;
}

.item-custom {
    margin-left: 1rem;
}

.container-custom {
    max-width: 80%;
}

.page-size {
    margin-top: 5rem;
}

.btn-update-page-size {
    margin-top: 1rem;
}